*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
    text-decoration: none;
    list-style: none;
}

/* Remove link format */
a:link, a:visited, a:active {
    text-decoration: none;
    color: inherit;
}


/* BODY ELEMENT BASIC PROPERTIES */
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Century Gothic";
    color: black;
    line-height: 1.5;
    background-color: white;
}

.box {
    margin-left: 10%;
    margin-right: 10%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 2%;
    display: flex;
    flex-direction: column;
    background-color: #F7EFE5;
}

.clear_box, .violet_box {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px;
}
.clear_box a, .violet_box a {
    color: black;
    text-decoration: none;
}
.clear_box {
    background-color: #FFFBF5;
}
.violet_box {
    line-height: 1.2;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #C0ACD0;
    border: 2px solid #674188;
}
.violet_box a {
    display: inline-flex;
    align-items: center;
}
.violet_box h4 {
    margin-bottom: 1.5%;
}

/* Title properties */
.title {
    text-align: center;
    margin-bottom: -7px;
}
.title img {
    width: 35%;
}


/* INDEX PAGE ELEMENTS */

/* Subtitle properties */
.subtitle {
    line-height: 1.2;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #674188;
}


/* MENU BAR ELEMENTS */

/* [Roger] - CSS DEL MENU DE DALT DE TOT*/

.navbar{
    margin-top: 1%;    
}

.navbar_element {
    overflow: hidden;
    display: flex;
    flex-direction: row;    
    align-items: center;
    border-top:solid 2px #674188;
    border-bottom: solid 2px #674188;
}

.navbar_element *, label{
    font-size: medium;
    color: black;
    text-align: center;
    padding: 1% 0%;
    display: inline-block;
    width: 35%;
    transition: all 0.2s ease-in 0s;    
}

.navbar_element *:hover, label:hover {
    background-color: white;
    cursor: pointer;
}

#ent_btn{
    display: none;   
}

.dropdown {
    opacity: 0;
    max-height: 0px;

    margin-bottom: 3%;

    border-top: none;
    box-sizing: border-box;
    justify-content: space-evenly;

    flex-direction: initial;
    flex-wrap: wrap;

    transition: max-height 0.7s ease-in, opacity 0.8s ease-in;    
}

.dropdown *{
    width: 33%;
}

#ent_btn:hover ~ .dropdown, .dropdown:hover {
    opacity: 1;
    max-height:280px;
}

@media screen and (min-width: 900px) {
    #ent_btn:checked ~ .dropdown{
        opacity: 1;
        max-height:280px;
    }
}

.deactivated, .deactivated:hover, .deactivated:active {
    color: #494149;
    background-color: #F7EFE5;
}

/*----------------Final del css de header---------------*/


/* Informative paragraph */
    /* Se li podria posar un títol propi en negreta com a 1a línia */
.introduction {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
}


/* INTERVIEW PAGES ELEMENTS */

/* Special title */
.title_wp{
    display: flex;
}

/* Column containing professor image */
.column_img {
    float: left;
    width: 18%;
    margin-top: 2%;
}
/* Professor image */
.interview_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px solid #674188;
}

/* Column containing professor name and description */
.column_title {
    float: right;
    width: 80%;
    margin-bottom: 4%;
}
/* Professor name */
.interview_title {
    font-weight: bold;
    margin-top: 1%;
    margin-left: 2%;
    color: #674188;
}
/* Professor description */
.interview_subtitle {
    font-weight: bold;
    float: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1%;
    margin-left: 2%;
    color: black;
}

/* Clear box */
.interview_box {
    margin-top: 3%;
    margin-left: -10%;
    margin-right: -10%;
    margin-bottom: 3%;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
    border-radius: 0.5%;
    background-color: #FFFBF5;
}

/* Professor description box */
.description_box {
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    width: 45%;
    margin: 2%;
    margin-right: 0;
    padding: 2%;
    float: right;
    border-radius: 10px;
    border: 2px solid #674188;
    background-color: #C0ACD0;
}

/* Interview date of publication */
.interview_date {
    font-weight: bold;
    color: #494149;
}

/* Interview text properties */
.interview_body {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
}
/* Introducing space between <p> elements */
p { margin-bottom: 1%}



/* INTERVIEW BUTTONS */

/* General box */
.buttons_box {
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 3%;
    border-radius: 10px;
    background-color: #FFFBF5;
}

/* Single button base */
.interview_button {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: #C0ACD0;
    border-radius: 5px;
    border: 2px solid #674188;
}
.-new {
    box-shadow: 0px 0px 7px 0px  #FFC800;
}
/* Color changing while cursor hovers it and when clicked */
.interview_button:hover, .interview_button:active {
    background-color: #F7EFE5;
}

/* Button image */
.intbut_img {
    width: 8%;
    height: 8%;
    border: 2px solid #674188;
    border-radius: 5px;
}

/* General button content properties */
.intbut_text {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.intbut_img, .intbut_text {    
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* Professor name and description */
.intbut_professor {
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    color: #2B292B;
}
/* Adding a separation between professor name and description */
    /* Only mobile version */
.intbut_description{
    margin-top: 0%;
}

/* Interview date */
.intbut_date {
    font-weight: bold;
    min-width: 200px;
    margin-left: 2%;
    color: #494149;
}


/* LINKS WITH ICONS / SHARE BOX / ABOUT US */

.link_icon {
    display: inline-flex;
    text-align: left;
    align-items: center;
    margin-top: 1%;
}
.link_icon div {
    margin-left: 10px;
}

.participant_name {
    margin-right: 10px;
    float: left;
}

.fa {
    font-size: 30px;
    margin: 5px;
    margin-left: 0;
    width: 36px;
    height: 36px;
    text-align: center;
    align-items: center;
    padding: 10px;
    border-radius: 50%;
    text-decoration: none;
}
.fa:before, .fa span {
    color: white;
}
.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-email {
    background: #505F5F;
}
.fa-email img {
    width: 16.5px;
    height: 16.5px;
}

.fa-telephone {
    background: #7E4747;
}
.fa-telephone img {
    width: 16.5px;
    height: 16.5px;
}

.fa-instagram {
    background: #EA4C89;
}

.fa-linkedin {
    background: #007BB5;
}

.fa-web {
    background: #6E6E6E;
}
.fa-web img {
    width: 16.5px;
    height: 16.5px;
}

.fa-whatsapp {
    background: #25D366;
}

.fa-facebook {
    background: #3B5998;
}
  
.fa-google {
    background: #dd4b39;
}
  
.fa-youtube {
    background: #bb0000;
}

.fa-pinterest {
    background: #cb2027;
}

.fa-snapchat-ghost {
    background: #fffc00;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-tumblr {
    background: #2c4762;
}

.fa-reddit {
    background: #ff5700;
}

.share_box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}
.share_box h3 {
    margin-top: 5%;
    margin-bottom: 1%;
}
.share_box div {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.-margin {
    margin: 5% 0;
}


/* INTERVIEWS NEXT AND PREVIOUS BUTTONS */

.bottom_buttons {
    width: 70%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 2%;
    overflow: hidden;
    display: relative;
    justify-content: space-between;
    align-items: center;
    color: #674188;
}
.bottom_buttons a:hover, .bottom_buttons a:active {
    background-color: #FFFBF5;
}

.previous_button, .next_button, .inici_button, .aboutus_button {
    width: 46%;
    border: 2px solid #674188;
    border-radius: 5px;
    padding: 2%;
}

.previous_button, .inici_button {
    text-align: left;
    float: left;
}

.next_button, .aboutus_button {
    text-align: right;
    float: right;
}

.inici_button, .aboutus_button {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .bottom_buttons {
        width: 100%;
    }
}


/* AUTO-SCROLL BUTTONS */

.to {
    font-size: 150%;
    font-weight: bold;
    justify-content: center;
    color: #674188;
    width: 40px;
    height: 40px;
    right: 0%;
    left: 100%;
    margin-top: -40px;
    margin-right: 3%;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    background-color: #FFFBF5;
    border: 2px solid #674188;
    border-radius: 25%;
    cursor: pointer;
}
.to:hover {
    background-color: #F7EFE5;
}
.-bottom {
    bottom: 100px;
}
.-top {
    bottom: 150px;
}


/* ------------------------------------------------- */

/* MOBILE VERSION MODIFICATIONS */


@media screen and (max-width: 900px) {
    
    /* BODY ELEMENT BASIC PROPERTIES */

    body {
        margin-left: 5%;
        margin-right: 5%;
        background-color: #F7EFE5;
    }

    .box {
        margin: 0;
        padding: 0;
    }

    .clear_box {
        margin-top: 5%;
        margin-left: -5%;
        margin-right: -5%;
        padding-top: 5%;
    }
    
    .violet_box {
        font-size: 80%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 5%;
    }
    .violet_box a {
        margin: 0.6% 0;
    }
    .violet_box h4 {
        margin-bottom: 2%;
    }
    .violet_box img {
        margin-right: 4%;
    }

    /* Title properties */
    .title img {
        width: 60%;
    }


    /* INDEX PAGE ELEMENTS */

    /* menu button properties */

    /* [R] Menu a columna per mobils */
    .dropdown {
        flex-direction: column;
    }

    .dropdown *{
        width: 100%
    }

    /*--[R]--Done*/

    .menu_button {
        font-size: 90%;
    }

    .introduction {
        line-height: 1.4;
        margin-top: 5%;
    }


    /* INTERVIEW PAGES ELEMENTS */

    /* Subtitle properties */
    .subtitle {
        font-size: 90%;
    }

    /* Professor image */
    .interview_img {
        border: 2px solid #674188;
    }

    /* Professor name */
    .interview_title {
        font-size: 130%;
    }

    /* Professor description */
    .interview_subtitle {
        font-size: 90%;
        line-height: 1.3;
    }

    /* Clear box */
    .interview_box {
        margin-right: -5%;
    }

    /* Professor description box */
    .description_box {
        width: 100%;
        margin-left: 2.5%;
        margin-right: -2.5%;
        float: center;
        margin-bottom: 10%;
    }

    /* Interview date of publication */
    .interview_date {
        font-size: 80%;
        margin-right: -5%;
    }

    /* Interview text properties */
    .interview_body {
        font-size: 90%;
        line-height: 1.4;
        margin-right: -5%;
    }
    /* Introducing space between <p> elements */
    p { margin-bottom: 2%}


    /* INTERVIEW BUTTONS */


    /* General button content properties */
    .intbut_img, .intbut_text {
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }
    .intbut_text {
        display: block;
        flex-direction: column;
        margin-right: 3%;
    }

    /* Professor name and description */
    .intbut_professor {
        font-size: 90%;
        line-height: 1;
    }
    /* Adding a separation between professor name and description */
    .intbut_description{
        margin-top: 2%;
    }

    /* Interview date */
    .intbut_date {
        font-size: 70%;
        min-width: 0;
        margin-top: 3%;
        float: right;
    }


    /* LINKS WITH ICONS / SHARE BOX / ABOUT US */

    .link_icon a {
        margin-right: 5px;
    }
    .link_icon div {
        margin-left: 5px;
    }


    /* MENU BAR ELEMENTS */

    .menu_button:hover .dropdown_menu {
        padding-top: 1.2%;
        left: 35%;
        right: 35%;
    }


    /* INTERVIEWS NEXT AND PREVIOUS BUTTONS */

    .bottom_buttons {
        margin: 5% auto;
    }

    .previous_button, .next_button, .inici_button, .aboutus_button {
        font-size: 70%;
        width: 49.5%;
    }


    /* AUTO-SCROLL BUTTONS */

    .to {
        width: 30px;
        height: 30px;
        margin-right: 0px;
    }
    .-bottom {
        bottom: 65px;
    }
    .-top {
        bottom: 97px;
    }

}