* {
    margin: 0;
    padding: 0;
}

/* [F] Remove link format */
a:link, a:visited, a:active {
    text-decoration: none;
}


/* [F] BODY ELEMENT BASIC PROPERTIES */
body {
    font-family: Arial;
    color: rgb(0, 0, 0);
    line-height: 1.5;
    margin-left: 20%;
    margin-right: 20%;
    background-color: rgb(255, 251, 245);
}

/* [F] Title properties */
.title, .title_wp { /* Replaceable by a logo */
    font-weight: bold;
    font-variant: small-caps;
    text-align: center;
    margin-top: 2%;
    color: rgb(103, 65, 136);
}


/* [F] INDEX PAGE ELEMENTS */

/* [F] Subtitle properties */
.subtitle {
    font-weight: bold;
    text-align: center;
}

/* [F] Informative paragraph */
    /* Se li podria posar un títol propi en negreta com a 1a línia */
.introduction {
    text-align: justify;
    text-justify: inter-word;
    margin-top: 2%;
}


/* [F] INTERVIEW PAGES ELEMENTS */

.title_wp{
    display: flex;
}

/* [F] Column containing professor image */
.column_img {
    float: left;
    width: 15%;
    margin-top: 2%;
}
/* [F] Professor image */
.interview_img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 5px solid rgb(103, 65, 136);
}

/* [F] Column containing professor name and description */
.column_title {
    float: left;
    width: 83%;
    margin-left: 2%;
    margin-bottom: 6%;
}
/* [F] Professor name */
.interview_title {
    font-weight: bold;
    margin-top: 1%;
    margin-left: 4%;
    margin-bottom: 0%;
    color: rgb(103, 65, 136);
}
/* [F] Professor description */
.interview_description {
    font-weight: bold;
    float: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1%;
    margin-left: 4%;
    color: rgb(0, 0, 0);
}

/* [F] Interview date of publication */
.interview_date {
    font-weight: bold;
    float: center;
    color: rgb(73, 65, 73);
}

/* [F] Interview text properties */
.interview_body {
    text-align: justify;
    text-justify: inter-word;
    float: center;
    margin-top: 2%;
}
/* [F] Introducing space between <p> elements */
p { margin-bottom: 1%}


/* [F] INTERVIEW BUTTONS */

/* [F] General box */
.week_box {
    margin-top: 3%;
    padding: 3%;
    border-radius: 1%;
    background-color: rgb(247, 239, 229);
}

/* [F] Single button base */
.week_button {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    background-color: rgb(192, 172, 208);
    border-radius: 5px;
    border: 2px solid rgb(103, 65, 136);
    box-shadow: 0px 0px 7px 0px rgb(25, 105, 88);
}
/* [F] Color changing while cursor hovers it and when clicked */
.week_button:hover, .week_button:active {
    background-color: rgb(247, 239, 229);
}

/* [F] Button image */
.week_img {
    width: 8%;
    height: 8%;
    border-radius: 5%;
    border: 2px solid rgb(103, 65, 136);
    border-radius: 5px;
}

/* [F] General button content properties */
.week_text {
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.week_img, .week_text {    
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

/* [F] Professor name and description */
.week_professor {
    font-weight: bold;
    text-align: justify;
    text-justify: inter-word;
    color: rgb(43, 41, 43);
}
/* [F] Adding a separation between professor name and description */
    /* [F] Only mobile version */
.week_description{
    margin-top: 0%;
}

/* [F] Week number and date */
.week_title {
    font-weight: bold;
    min-width: 200px;
    margin-left: 2%;
}
.week_number {
    color: rgb(103, 65, 136);
}
.week_date {
    color: rgb(73, 65, 73);
}


/* ------------------------------------------------- */

/* [F] MOBILE VERSION MODIFICATIONS */


@media screen and (max-width: 900px) {
    
    /* [F] BODY ELEMENT BASIC PROPERTIES */
    body {
        margin-left: 5%;
        margin-right: 5%;
    }


    /* [F] INDEX PAGE ELEMENTS */

    .introduction {
        line-height: 1.4;
    }


    /* [F] INTERVIEW PAGES ELEMENTS */

    /* [F] Professor description */
    .interview_description {
        line-height: 1.1;
    }

    /* [F] Interview text properties */
    .interview_body {
        line-height: 1.4;
    }
    /* [F] Introducing space between <p> elements */
    p { margin-bottom: 2%}


    /* [F] INTERVIEW BUTTONS */

    /* [F] General button content properties */
    .week_text {
        flex-direction: column;
    }

    .week_img, .week_text {
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 2%;
    }

    /* [F] Professor name and description */
    .week_professor {
        font-size: 90%;
        line-height: 1;
    }
    /* [F] Adding a separation between professor name and description */
    .week_description{
        margin-top: 2%;
    }

    /* [F] Week number and date */
    .week_title {
        width: 105%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 2%;
    }
    .week_number {
        width: 50%;
        font-size: 100%;
    }
    .week_date {
        width: 70%;
        font-size: 60%;
    }
    
}