a:link, a:visited, a:active {
    text-decoration:none;
}

body {
    font-family: Arial;
    font-size: xx-large;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 251, 245);
    margin: 0;
    padding: 0;
}

.title {
    font-size: 100%;
    font-weight: 700;
    text-align: center;
    float: center;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    color: rgb(103, 65, 136);
    font-weight: ExtraBold;
    font-variant: small-caps;
}

.interview_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 5px solid rgb(103, 65, 136);
    border-radius: 5px;
}

.column_img {
    float: left;
    width: 15%;
    margin-top: 1%;
    margin-left: 15%;
    margin-right: 0%;
    margin-bottom: 0%;
    border-radius: 5%;
}

.interview_title {
    font-size: 150%;
    font-weight: 700;
    float: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(103, 65, 136);
}

.interview_description {
    font-size: 60%;
    font-weight: 600;
    float: center;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 5%;
    color: rgb(0, 0, 0);
}

.column_title {
    float: left;
    width: 65%;
    margin-top: 0%;
    margin-left: 2%;
    margin-right: 0%;
    margin-bottom: 2%;
    border-radius: 5%;
}

.interview_date {
    font-size: 60%;
    font-weight: 700;
    float: center;
    margin-top: 20%;
    margin-left: 16%;
    margin-right: 15%;
    margin-bottom: 1%;
    color: rgb(73, 65, 73);
}

.interview_body {
    font-size: 60%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.4;
    float: center;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    padding: 0%;
}


.week_box {
    width: 65%;
    margin: 2% auto;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    background-color: rgb(247, 239, 229);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 80%;
}

.week_button {
    width: 100%;
    height: 100%;
    margin: 2% auto;
    background-color: rgb(192, 172, 208);
    border: 2px solid rgb(103, 65, 136);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    margin-top: 0.5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0.5%;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(25, 105, 88);
}

.week_img {
    width: 100%;
    height: 100%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 0%;
    margin-bottom: 1%;
    border-radius: 5%;
    border: 2px solid rgb(103, 65, 136);
    border-radius: 5px;
}

.week_title {
    font-size: 110%;
    font-weight: 700;
    float: center;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(103, 65, 136);
}

.week_date {
    font-size: 80%;
    font-weight: 700;
    min-width: 600px;
    float: center;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(73, 65, 73);
}

.week_profe {
    font-size: 120%;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0%;
    color: rgb(54, 48, 54);
}

.week_description {
    font-size: 90%;
    font-weight: 700;
    text-align: justify;
    text-justify: inter-word;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 2%;
    color: rgb(43, 41, 43);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    padding: 10px;
    margin-left: 3%;
}

.l {
    float: left;
    width: 15%;
    margin-top: 1%;
}

.r {
    float: left;
    width: 75%;
    margin-top: 1%;
    margin-left: -2%;
    margin-bottom: 1%;
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 150%;
        font-weight: 700;
        text-align: center;
        float: center;
        margin-top: 0%;
        margin-left: 15%;
        margin-right: 15%;
        margin-bottom: 5%;
        font-weight: ExtraBold;
        font-variant: small-caps;
    }
    
    .interview_img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        border: 5px solid rgb(103, 65, 136);
        border-radius: 5px;
    }
    
    .column_img {
        float: left;
        width: 20%;
        margin-top: 1%;
        margin-left: 10%;
        margin-right: 0%;
        margin-bottom: 0%;
        border-radius: 5%;
    }

    .interview_title {
        font-size: 100%;
        font-weight: 700;
        float: center;
        margin-top: 1%;
        margin-left: 4%;
        margin-right: 10%;
        margin-bottom: 0%;
        color: rgb(103, 65, 136);
    }
    
    .column_title {
        float: left;
        width: 65%;
        margin-top: 0%;
        margin-left: 2%;
        margin-right: 0%;
        margin-bottom: 2%;
        border-radius: 5%;
    }
    
    .interview_description {
        font-size: 50%;
        font-weight: 600;
        float: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;
        margin-top: 25%;
        margin-left: -32%;
        margin-right: 10%;
        margin-bottom: 5%;
        color: rgb(0, 0, 0);
    }

    .interview_date {
        font-size: 40%;
        font-weight: 700;
        float: center;
        margin-top: 20%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 1%;
        color: rgb(73, 65, 73);
    }
    
    .interview_body {
        font-size: 45%;
        text-align: justify;
        text-justify: inter-word;
        line-height: 1.4;
        float: center;
        justify-content: right;
        margin-top: 0%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding: 0%;
    }

    .week_box {
        width: 88%;
        margin-top: 5%;
        margin-left: 1%;
        margin-right: 1%;
        margin-bottom: 0%;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .week_button {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 75%;
        margin-top: 0.5%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0.5%;
        text-align: center;
        cursor: pointer;
    }

    .week_img {
        width: 15%;
        height: 15%;
        margin-top: 1%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        border-radius: 5%;
        border-radius: 5px;
    }

    .week_title {
        font-size: 100%;
        font-weight: 700;
        margin-top: 2%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .week_date {
        font-size: 80%;
        font-weight: 700;
        margin-top: 1%;
        margin-left: 0%;
        margin-right: 0%;
        margin-bottom: 2%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .week_profe {
        font-size: 120%;
        font-weight: 700;
        margin-top: -2%;
        margin-bottom: 0%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .week_description {
        font-size: 80%;
        font-weight: 700;
        margin-top: 0%;
        margin-left: 25%;
        margin-right: 25%;
        margin-bottom: 0%;
        float: center;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: justify;
        text-justify: inter-word;
    }

    .column {
        float: center;
        padding: 10px;
    }
    
    .l {
        float:center;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
    }
    
    .r {
        float: center;
        width: 100%;
        margin-top: 0%;
        margin-left: 0%;
    }    
}