a:link, a:visited, a:active {
    text-decoration:none;
}

body {
    font-family: Arial;
    font-size: xx-large;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    background-color: rgb(252, 242, 255);
    margin: 0;
    padding: 0;
}

.column_big {
    float: left;
    width: 70%;
}

@media screen and (max-width: 600px) {
    .column_big {
      width: 100%;
    }
}

.column_small {
    float: left;
    width: 28%;
    margin-left: 2%;
}

@media screen and (max-width: 600px) {
    .column_small {
      width: 100%;
    }
}

.title {
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0%;
    color: rgb(106, 19, 109);
    font-weight: ExtraBold;
    font-variant: small-caps;
}

.subtitle {
    font-size: 75%;
    text-align: center;
    margin-top: 0%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(0, 0, 0);
    font-weight: Bold;
}

.title_description {
    font-size: 65%;
    text-align: left;
    margin-top: 3%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3%;
    color: rgb(0, 0, 0);
    font-weight: Bold;
}

.week_box {
    width: 65%;
    margin: 2% auto;
    margin-top: 0%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 0%;
    background-color: rgb(185, 177, 185);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    font-size: 80%;
}

.week_button {
    width: 100%;
    height: 100%;
    margin: 2% auto;
    background-color: rgb(147, 110, 148);
    border: 2px solid rgb(91, 60, 92);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75%;
    margin-top: 0.5%;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0.5%;
    text-align: left;
    cursor: pointer;
    box-shadow: 0 0 5px 0 rgb(25, 105, 88);
}

.week_img {
    width: 15%;
    height: 15%;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 0%;
    margin-bottom: 1%;
    border-radius: 5%;
    border: 2px solid rgb(91, 60, 92);
    border-radius: 5px;
}

.week_title {
    font-size: 150%;
    font-weight: 700;
    float: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(69, 11, 71);
}

.week_date {
    font-size: 80%;
    font-weight: 700;
    float: center;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 20%;
    margin-bottom: 0%;
    color: rgb(73, 65, 73);
}

.week_profe {
    font-size: 120%;
    font-weight: 700;
    margin-top: 1%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0%;
    color: rgb(54, 48, 54);
}

.week_description {
    font-size: 100%;
    font-weight: 700;
    margin-top: 0%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 1%;
    color: rgb(43, 41, 43);
}